In [1]:
import pandas as pd
import time

tags = pd.read_csv('tags.csv')
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
links = pd.read_csv('links.csv')


# 1. 不同用户
users = list()
users.extend(tags['userId'].tolist())
users.extend(ratings['userId'].tolist())

In [2]:
print('1. 一共有 %s 个不同的用户' % (str(len(set(users)))))

1. 一共有 162541 个不同的用户

In [3]:
# 2. 不同电影
m = movies['movieId'].tolist()

In [4]:
print('2. 一共有 %s 种不同的电影' % (str(len(set(m)))))

2. 一共有 62423 种不同的电影

In [5]:
# 3. 不同电影种类
m_type_tmp = movies['genres'].tolist()
m_type = list()
for item in m_type_tmp:
    if '|' in item:
        m_type.extend(item.split('|'))
    else:
        m_type.append(item)

In [6]:
print('3. 一共有 %s 个不同的电影种类' % (str(len(set(m_type)))))

3. 一共有 20 个不同的电影种类

In [7]:
# 4. 电影无外部链接
all_movie_id = set(movies['movieId'].tolist())
has_link_movie_id = set(links['movieId'].tolist())
no_link_movie_id = all_movie_id - has_link_movie_id

In [8]:

print('4. 一共有 %s 部电影没有外部链接' % (str(len(no_link_movie_id))))

4. 一共有 0 部电影没有外部链接

In [17]:
#5. 2018年进行电影评分用户
def trans(timestamp):
    time_local = time.localtime(timestamp)
    dt = time.strftime("%Y", time_local)
    return dt

ratings['timestamp'] = ratings['timestamp'].apply(trans)
ratings_t_2018 = ratings[ratings['timestamp'] == '2018']
u = ratings_t_2018['userId'].tolist()

TypeError: an integer is required (got type str)

In [10]:
print('5. 2018年一共有 %s 人进行电影评分' % (str(len(set(u)))))

5. 2018年一共有 11999 人进行电影评分

In [11]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [12]:
ratings.head(100)

    userId  movieId  rating timestamp
0        1      296     5.0      2006
1        1      306     3.5      2006
2        1      307     5.0      2006
3        1      665     5.0      2006
4        1      899     3.5      2006
..     ...      ...     ...       ...
95       2      733     4.5      2006
96       2      858     3.5      2006
97       2      914     4.0      2006
98       2      953     4.5      2006
99       2     1035     1.0      2006

[100 rows x 4 columns]

In [13]:
movies.head()
movies['title'].value_counts()

Lagaan: Once Upon a Time in India (2001)                                                    2
Casanova (2005)                                                                             2
Crush (2009)                                                                                2
Alone (2017)                                                                                2
Interrogation (2016)                                                                        2
                                                                                           ..
Darfur Now (2007)                                                                           1
Whitewash (2013)                                                                            1
Trainwreck (2015)                                                                           1
Walkout (2006)                                                                              1
Spring, Summer, Fall, Winter... and Spring (Bom yeoreum gaeul gyeoul geurigo bom) (2003)    1
Name: title, Length: 62325, dtype: int64

In [14]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [15]:
#6. 2018年评分5分以上的电影及其对应的标签
ratings_5 = ratings[ratings['rating'] > 5]
v = ratings_5['userId'].tolist()
print('5. 2018年一共有 %s 部评分超过5的电影' % len(v))

5. 2018年一共有 0 部评分超过5的电影

In [16]:
#7. 绘制电影复仇者联盟（The Avengers）每个月评分的平均值变化曲线图
a= pd.merge(ratings, movies)
#a.head()
a[a.title == 'The Avengers']

Empty DataFrame
Columns: [userId, movieId, rating, timestamp, title, genres]
Index: []